<header
    class="flex justify-between items-center max-w-7xl mx-auto py-4 px-6 xl:p-4 relative z-10"
>
    <img
        class="rounded-full w-12 h-12 border-2 border-white/20"
        src="/images/photo-profile.jpeg"
        alt="alexander lópez photo"
    />

    <nav class="font-mono font-bold flex text-white gap-x-8">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/projects">Projects</a>
        <a href="/contact">Contact</a>
    </nav>
</header>
